 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #19242f;
    color: #ff4043;
    text-align: center;
    padding: 10px 0;
    height: 100px;
  }
  
  .sidebar {
    background-color: #1c2a39;
    color: #ff4043;
    float: left;
    width: 25%;
    padding: 15px;
    min-height: calc(100vh - 100px - 50px);
  }
  
  .main-content {
    background-color: #f1f1f1;
    color: #000;
    float: left;
    width: 75%;
    padding: 15px;
    min-height: calc(100vh - 100px - 50px);
  }
  
  footer {
    background-color: #19242f;
    color: #ff4043;
    text-align: center;
    padding: 15px 0;
    height: 50px;
    float: left;
    width: 100%;
  }